

body {
    background-color: #f2f2f2;
    color: #0f141e;

    font-size: 16px;
    font-weight: 600;
    font-family: "Kode Mono", monospace;

    


}

.ava {
    width: 200px;
    border-radius: 28px;
    box-shadow: 30px 10px 19px rgba(201, 10, 10, 0.25);

}

.info p {
    color: #a069c5;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;*/
    /*letter-spacing: 16px;*/
    /*word-spacing: 42px;*/
}

/*Box Model*/
.container {
    width: 74%;

}

.social {
    background: red;
}